body, html { background-color: none !important; background-image: url(../../images/note/directory_bg.png) !important }

#body_gradient { position: absolute; top: 0; left: 0; width: 100%; height: 50px; background-image: url(../../images/wassup/body_gradient2.png); z-index: 0 }

#wrapbox { 
	width: 920px; min-height: 100%;
	position:absolute; left: 50%; margin-left: -460px; background-color: none !important; z-index: 1;
}

#header { width: 920px; height: 0px; position: absolute; top: 0; z-index:30 !important; left: 50%; margin-left: -459px }
#header > .Tap { margin:0 0 0 921px !important }

#container .board > .Lfield > .preview > .list > .cards > .frame { background-image: url(../../images/board/preparty_frame_gray.png) !important }
#container .board { margin-top: 0px !important; }
#header div.nav	  { box-shadow: 0 1px 2px #a1a1a1 }

.SDD-wassup	 	{ background-image: url(../../images/party/Header/header_menu_wassup.png) }
.SDD-note			{ background-image: url(../../images/party/Header/header_menu_note.png) }
.SDD-party 		{ background-image: url(../../images/party/Header/header_menu_party.png) }

/* 중복 CLASS */
.nanumbold { font-family: "NanumGothicBoldWeb" }

/* wassup 게시판 레이아웃 조정 */
#container .board > .Lfield > .preview > .list > .cards > .frame { background-image: none !important }
#container .board > .Lfield > .bg { display: none }
#container .board { padding: 23px 0 100px 0 !important; border-top: 1px solid #fff }

/* Tap 변경 */
#header > .Tap { top: 0px !important; padding: 90px 0 0 0 !important; background-image: url(../../images/wassup/tapbg.png) !important; width: 31px !important; margin: 0 0 0 919px !important }
#header > .Tap > .invite-party { margin-left: 2px !important; margin-top: -5px !important }
#header > .Tap > .invite-member { margin-left: 2px !important; margin-top: 0px !important }
#header > .Tap > .setting { margin-left: 2px !important; margin-top: 0px !important }

#container { width: 920px; height: auto; float: left; position: relative; padding: 0 }

#container div { position: relative; float: left }

#container > .legal { padding: 66px 0 0 0; width: 920px; height: auto }
#container > .legal > .title { width: 828px; height: 92px; padding: 0 46px; background-image: url(../../images/legal/titlebg.png); margin-bottom: 20px }
#container > .legal > .title > img { margin-top: 37px; margin-left: 20px }
#container > .legal > .content { width: 788px; height: auto; padding: 0 66px 0 66px }

#container > .legal > .content > .row { width: 788px; height: auto; font-size: 9pt; padding: 0 0 20px 0 }
#container > .legal > .content > .row > p.title { color: #444; margin-bottom: 10px; font-size: 10pt; font-weight: bold; letter-spacing: -1px }
#container > .legal > .content > .row > p.container { color: #666; margin-bottom: 2px; line-height: 18px }

#container > .lineD { width: 920px; height: 1px; background-image: url(../../images/legal/line.png) }

#copyright { width: 920px; height: auto; padding: 20px 0 20px 0; position: relative; float: left }
#copyright > .contents { width: 788px; height: auto; position: relative; float: left; padding: 0 66px }
#copyright > .contents > .left { width: auto; height: auto; position: relative; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #888; margin-top: -2px }
#copyright > .contents > .right { width: auto; height: auto; position: relative; float: right !important; font-family: "돋움","Dotum"; font-size: 8pt; letter-spacing: -1px; color: #888; }
#copyright > .contents > .right > ul { position: relative; float: left; margin-left: 10px; cursor: pointer }
#copyright > .contents > .right > ul:hover { color: #dc5457 }