body, html { background-color: none !important; background-image: url(../../images/note/directory_bg.png) !important }

#body_gradient { position: absolute; top: 0; left: 0; width: 100%; height: 50px; background-image: url(../../images/wassup/body_gradient2.png); z-index: 0 }

#wrapbox { 
	width: 920px; min-height: 100%;
	position:absolute; left: 50%; margin-left: -460px; background-color: none !important; z-index: 1;
}

#header { width: 920px; height: 0px; position: absolute; top: 0; z-index:30 !important; left: 50%; margin-left: -459px }
#header > .Tap { margin:0 0 0 921px !important }

#container .board > .Lfield > .preview > .list > .cards > .frame { background-image: url(../../images/board/preparty_frame_gray.png) !important }
#container .board { margin-top: 0px !important; }
#header div.nav	  { box-shadow: 0 1px 2px #a1a1a1 }

.SDD-wassup	 	{ background-image: url(../../images/party/Header/header_menu_wassup.png) }
.SDD-note			{ background-image: url(../../images/party/Header/header_menu_note.png) }
.SDD-party 		{ background-image: url(../../images/party/Header/header_menu_party.png) }

/* 중복 CLASS */
.nanumbold { font-family: 'Nanum Gothic', sans-serif; font-weight: bold }

/* wassup 게시판 레이아웃 조정 */
#container .board > .Lfield > .preview > .list > .cards > .frame { background-image: none !important }
#container .board > .Lfield > .bg { display: none }
#container .board { padding: 23px 0 100px 0 !important; border-top: 1px solid #fff }

/* Tap 변경 */
#header > .Tap { border-radius: 5px !important }
#header > .Tap > .topline { width: 25px; height: 68px; background-image: url(../../images/party/Tap/bgtopline.png); position: absolute; top: -68px; left: 0 }

/* 0420 탭 두번째탭, 마이노트가기, 마이파티가기 부분 */
#header > .Tap2 { z-index: 10; width: 29px; height: 29px; position: fixed; top: 200px; margin: 0 0 0 923px !important; padding: 0 0 0 3px }
#header > .Tap2 > .mynote { position: relative; margin-bottom: 7px; cursor: pointer }
#header > .Tap2 > .mynote:hover { opacity: .7 }
#header > .Tap2 > .myparty { position: relative; cursor: pointer }
#header > .Tap2 > .myparty:hover { opacity: .7 }

#container { width: 920px; height: auto; float: left; position: relative; padding: 0; z-index: 1 }

#container div { position: relative; float: left }

#container > .partylist { width: 920px; height: auto; padding: 0 }

#container > .partylist > .title { width: 828px; height: 100px; position: relative; float: left; font-size: 18pt; font-family: 'Nanum Gothic', sans-serif; color: #777; text-shadow: 0 2px 2px #fff; text-align: center; border-bottom: 1px solid #c1c1c1; background-image: url(../../images/event3/title.png); margin-left: 46px; margin-top: 80px }
#container > .partylist > .title > .way { position: absolute; top: 12px; right: 0; width: auto; height: 23px; background-image: url(../../images/event/way.png); border-top: 1px solid #e1e1e1;border: 1px solid #f9a63a; border-bottom: 1px solid #bc6f00;  border-radius: 5px; font-size: 9pt; padding: 7px 15px 0 15px; color: #7c4900; text-shadow: none }

#container > .partylist > .info { width: 828px; height: auto; z-index: 2; margin-left: 46px; padding: 20px 0; border-top: 1px solid #fff }
#container > .partylist > .info > .left { width: auto; height: auto }
#container > .partylist > .info > .left > .img { position: relative; float: none !important; margin-bottom: 10px }
#container > .partylist > .info > .left > .time { width: auto; height: auto }
#container > .partylist > .info > .left > .time > .number { width: auto; height: auto; background-image: url(../../images/event/timebg.png); padding: 2px 5px 3px 5px; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 30px; border: 1px solid #d2d2d2; border-top: 1px solid #a1a1a1; border-bottom: 1px solid #e1e1e1; border-radius: 5px }
#container > .partylist > .info > .left > .time > .gap { width: auto; height: auto; font-size: 20pt; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; padding: 4px 2px }
#container > .partylist > .info > .left > .time > .gap_day { padding-left:5px; padding-right: 10px }
#container > .partylist > .info > .right { width: auto; height: auto; float: right; border-top: 1px solid #e1e1e1;border: 1px solid #d2d2d2; border-bottom: 1px solid #aaa; border-radius: 5px; padding: 10px 15px; background-image: url(../../images/event/profilebg.png) }
#container > .partylist > .info > .right > .pic { width: 50px; height: 50px; border-radius: 6px; border: 1px solid #d2d2d2; border-bottom: 1px solid #c2c2c2; background-image: url(../../images/wassup/buttonbg.png); }
#container > .partylist > .info > .right > .pic img { width: 50px; height: 50px; border-radius: 5px }
#container > .partylist > .info > .right > .button { margin-left: 15px; font-size: 9pt; color: #777 }
#container > .partylist > .info > .right > .button > .friends { position: relative; float: none !important; border-bottom: 1px solid #e1e1e1; padding: 6px 0 6px 0 }
#container > .partylist > .info > .right > .button > .partys { padding: 6px 0 0 0 }
#container > .partylist > .info > .explain { width: auto; height: auto; float: right; padding-top: 20px; font-size: 8pt; text-shadow: 0 1px 1px #fff; color: #777; font-family: '돋움'; margin-right: 20px; line-height: 17px }

#container > .partylist > .vstitle { width: 828px; height: auto; margin-left: 46px; padding: 0 0 20px 0; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 10pt; text-shadow: 0 1px 1px #fff }

#container > .partylist > .vs { width: 828px; height: auto; margin-left: 46px; background-color: #fff; border: 1px solid #d2d2d2; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #818181; border-radius: 5px; padding: 40px 0 }

#container > .partylist > .vs > .left { width: 331px; height: auto; padding: 0 0 0 20px }
#container > .partylist > .vs > .left > .top { width: 331px; height: auto; text-align: center; padding: 0 0 20px 0 }
#container > .partylist > .vs > .left > .mid { width: 331px; height: auto; text-align: center }
#container > .partylist > .vs > .left > .bot { width: 291px; height: auto; text-align: center; padding: 20px 0 0 40px }
#container > .partylist > .vs > .left > .bot > .score { width: 250px; height: 50px; text-align: center; background-image: url(../../images/event3/hwibg.jpg); border-radius: 10px; padding: 10px 0 0 0; font-family: Tahoma, Geneva, sans-serif; font-size: 20pt; font-weight: bold; color: #444 }

#container > .partylist > .vs > .center { width: 85px; height: 101px; padding: 100px 20px 0 20px }

#container > .partylist > .vs > .right { width: 332px; height: auto; padding: 0 20px 0 0 }
#container > .partylist > .vs > .right > .top { width: 332px; height: auto; text-align: center; padding: 0 0 20px 0 }
#container > .partylist > .vs > .right > .mid { width: 332px; height: auto; text-align: center }
#container > .partylist > .vs > .right > .bot { width: 288px; height: auto; text-align: center; padding: 20px 0 0 43px }
#container > .partylist > .vs > .right > .bot > .score { width: 250px; height: 50px; text-align: center; background-image: url(../../images/event3/haebg.jpg); border-radius: 10px; padding: 10px 0 0 0; font-family: Tahoma, Geneva, sans-serif; font-size: 20pt; font-weight: bold; color: #444 }

#container > .partylist > .ranktitle { width: 828px; height: auto; margin-left: 46px; padding: 20px 0 20px 0; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 10pt; text-shadow: 0 1px 1px #fff }

#container > .partylist > .rank { width: 828px; height: auto; margin-left: 46px; }

#container > .partylist > .rank > .card { width: 788px; height: auto; padding: 0 20px; background-color: #fff; border-radius: 5px; margin-bottom: 10px }
#container > .partylist > .rank > .hwi { background-image: url(../../images/event3/hwibg2.jpg); border: 1px solid #85aa94; color: #073f1e }
#container > .partylist > .rank > .hae { background-image: url(../../images/event3/haebg2.jpg); border: 1px solid #858dc9; color: #010738 }
#container > .partylist > .rank > .card > .left { width: 54px; height: auto; margin-right: 20px; text-align: center;  font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 8pt; color: #333; padding: 30px 0 }
#container > .partylist > .rank > .card > .first { background-image: url(../../images/event3/first.png) }
#container > .partylist > .rank > .card > .second { background-image: url(../../images/event3/second.png) }
#container > .partylist > .rank > .card > .third { background-image: url(../../images/event3/third.png) }
#container > .partylist > .rank > .card > .right { width: 714px; height: 50px; padding: 10px 0 }
#container > .partylist > .rank > .card > .right > .user { width: auto; height: auto; }
#container > .partylist > .rank > .card > .right > .user > .pic { width: 50px; height: 50px; border-radius: 5px; border: 1px solid #a1a1a1; cursor: pointer }
#container > .partylist > .rank > .card > .right > .user > .pic > img { width: 50px; height: 50px; border-radius: 5px }
#container > .partylist > .rank > .card > .right > .user > .info { width: auto; height: auto; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; padding: 0 0 0 15px }
#container > .partylist > .rank > .card > .right > .user > .info > .name { width: auto; height: auto; float: none; font-size: 11pt; padding: 6px 0 0 0 }
#container > .partylist > .rank > .card > .right > .user > .info > .loveit { width: auto; height: auto; font-size: 11pt; color: #444; padding: 5px 0 0 0 }
#container > .partylist > .rank > .card > .right > .user > .info > .loveit > img { margin-top: 4px; margin-right: 3px }
#container > .partylist > .rank > .card > .right > .button { width: auto; height: auto; float: right; padding: 14px 0 0 0 }


#copyright { width: 920px; height: auto; padding: 20px 0 20px 0 }
#copyright > .contents { width: 828px; height: auto; position: relative; float: left; padding: 0 46px }
#copyright > .contents > .left { width: auto; height: auto; position: relative; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #888; margin-top: -2px }
#copyright > .contents > .right { width: auto; height: auto; position: relative; float: right !important; font-family: "돋움","Dotum"; font-size: 8pt; letter-spacing: -1px; color: #888; }
#copyright > .contents > .right > ul { position: relative; float: left; margin-left: 10px; cursor: pointer }
#copyright > .contents > .right > ul:hover { color: #dc5457 }
