@charset "utf-8";
/* CSS Document */

.container-party-bookmark-party-pics-name {
	letter-spacing:0px !important;
}

.header-search input {
	margin:0 0 0 0 !important;
}

.menu-party-partys-list-party-pics-name {
	letter-spacing:0px !important;
}

.party-pics-explain-title {
	letter-spacing:0px !important;
}