@charset "utf-8";
/* CSS Document */

* { margin:0;padding:0; }

::-webkit-input-placeholder{color:#ccc;}					/* for webkit */
textarea:-moz-placeholder,									/* for ff */
input:-moz-placeholder{color:#ccc;}							/* for ff */
.placeholder {color:#CCC;}

img { vertical-align:top }

img { border:none }

body {
	padding:0;
	margin:0;
	font-size:9pt;
	color:#666;
	font-family:"굴림";
}

.boardoutline {
	width:802px;
	height:auto;
	position:relative;
	float:left;
	padding:0 20px 20px 20px;
	background-color:#f6f4f5;
	border-left:1px solid #d8c6c9;
	border-right:1px solid #d8c6c9;
}

.boardpage {
	width: 802px;
	float: left;
	position:relative;
}

	.write {
		width:770px;
		height:auto;
		float:left;
		border:none;
		margin-bottom:20px;
		position:relative;
	}
		
		.write-textarea {
			width:100%;
			height:85px;
			overflow:hidden;
			display:block;
			vertical-align:top;
			font-size:9pt;
			color:#B9B9B9;
			padding:15px 15px 0 15px;
			font-family:"굴림","Gulim";
			border:1px solid #d8c6c9;
			line-height:15px;
			outline:none;
			resize:none;
		}
		
		.write-menu {
			position:absolute;
			right:-20px;
			top:20px;
		}
	
	.preview {
		width:210px; 			/* Full sizing : 248px */
		height:auto;
		float:left;
		position:relative;
	}
	
		.preview img {
			border:none;
		}
		
		.preview-number {
			width:auto;
			height:auto;
			position:absolute;
			top:55px;
			left:0px;
			text-align:center;
			font-family:Tahoma, Geneva, sans-serif;
			font-size:30px;
			color:#d8c6c9;
		}
	
		.preview-top {
			width:111px;
			height:15px;
			position:relative;
			margin:auto;
			text-align:center;
			margin-bottom:18px;
			cursor:pointer;
		}

		.preview-contents {
			width:105px;
			height:75px;
			position:relative;
			margin:auto;
			margin-top:8px;
			padding:3px;
			border:1px solid #d8c6c9;
			background-color:#fff;
		}
		
			.preview-contents-pic {
				width:105px;
				height:76px;
				float:left;
				position:relative;
				overflow:hidden;
			}
			
				#pre1 img{margin-top:-35.81px;}
				#pre2 img{margin-left:-54.13px;}

		.preview-bottom {
			width:111px;
			height:15px;
			position:relative;
			margin:auto;
			margin-top:22px;
			text-align:center;
			cursor:pointer;
		}
	
	.board {
		width:592px;
		height:auto;
		float:left;
		background-color:#f6f4f5;
		position:relative;
	}
	
		.board-contents {
			padding:20px 0 0 0;
			margin:0 0 20px 0;
			width:592px;
			height:auto;
			float:right;
			background-color:#fff;
			position:relative;
		}
		
			.board-contents-info {
				width:552px;
				padding:0 20px 0 20px;
				float:left;
				height:auto;
				color:#ab7e7e;
			}
			
				.board-contents-info1 {
					float:left;
					width:200px;
					height:auto;
					font-size:9pt;
					position:relative;
				}
			
					.board-contents-info1-pic {
						position:relative;
						float:left;
						width:38px;
						height:38px;
					}
					
					.board-contents-info1-pic img {
						border-radius:5px;
					}
					
					.board-contents-info1-name {
						position:relative;
						padding:4px 0 0 10px;
						width:120px;
						height:auto;
						line-height:16px;
						font-size:9pt;
						font-family:"굴림";
						float:left;
					}
			
				.board-contents-info2 {
					float:right;
					position:relative;
					width:150px;
					height:auto;
					font-family:Tahoma, Geneva, sans-serif;
					font-size:8pt;
					padding:4px 0 0 0;
					z-index:10;
				}
				
				.board-contents-info2 a {
					color:#ab7e7e;
					text-decoration:none;
				}
				
					.board-contents-info2-likecomment {
						float:right;
						width:150px;
						height:auto;
					}
					
						.board-contents-info2-commentssmember {
							float:right;
							width:auto;
						}
					
						.board-contents-info2-commentsimg {
							float:right;
							width:auto;
							padding:3px 3px 0 0;
							margin-left:10px;
						}
					
						.board-contents-info2-likesmember {
							float:right;
							width:auto;
						}
						
							.board-contents-info2-likesmember-explain {
								width:166px;
								height:auto;
								position:absolute;
								font-size:8pt;
								font-family:"굴림","Gulim";
								color:#8C7070;
								top:-10px;
								left:125px;
								background-color:#FFf;
								padding:6px 0px 6px 6px;
								border:1px solid #d8c6c9;
								float:left;
								z-index:10;
								display:none;
							}
							
								.borad-contents-info2-likesmember-explain-arrowleft {
									width:auto;
									height:auto;
									position:absolute;
									top:10px;
									left:-10px;
								}
							
								.board-contents-info2-likesmember-explain p {
									margin:0 0 0 0;
									padding:0 0 6px 15px;
									letter-spacing:-1px;
								}
								
								.board-contents-info2-likesmember-explain img {
									float:left;
									margin-top:3px;
								}
								
								.board-contents-info2-likemember-explain-pics {
									float:left;
									margin-right:5px;
									position:relative;
								}
								
									.board-contents-info2-likemember-explain-pics-size {
										width:28px;
										height:28px;
										border-radius:5px;
									}
								
									.board-contents-info2-likemember-explain-pics-names {
										width:30px;
										height:15px;
										background-color:#ab7e7e;
										color:#fffffa;
										font-size:8pt;
										font-family:"굴림","Gulim";
										position:absolute;
										padding:3px 3px 1px 3px;
										letter-spacing:-1px;
										top:-18px;
										left:-3px;
										text-align:center;
										display:none;
									}
								
								.borad-contents-info2-likesmember-explain-addview {
									width:160px;
									height:18px;
									background-color:#ea565a;
									float:left;
									margin:10px 0 0 0;
									border-radius:20px;
									cursor:pointer;
								}
								
									.borad-contents-info2-likesmember-explain-addview img{
										margin:0 0 0 70px;
									}
					
						.board-contents-info2-likesimg {
							float:right;
							width:auto;
							padding:3px 3px 0 0;
						}
					
					.board-contents-info2-date {
						float:right;
						width:150px;
						text-align:right;
					}
					
			.board-contents-pic {
				width:552px;
				height:auto;
				position:relative;
				float:left;
				padding:25px 20px 0 20px;
			}
					
				.board-contents-pic img {
					margin:auto;
					display:block;
					max-width:552px;
				}
				
			.board-contents-text {
				width:552px;
				padding:15px 20px 0 20px;
				height:auto;
				position:relative;
				float:left;
				line-height:15px;
				color:#333;
			}
			
				.board-contents-text p {
					line-height:19px;
					margin:0;
					font-family:Arial, Helvetica, sans-serif;
					font-size:9pt;					
				}
			
			.board-contents-like {
				width:552px;
				height:auto;
				position:relative;
				float:left;
				padding:5px 20px 10px 20px;
				font-family:Tahoma, Geneva, sans-serif;
				font-size:8pt;
				text-align:right;
			}
			
				.board-contents-like-a {
					color:#EF8FB5;
				}
				
				.board-contents-like-b {
					color:#3796FF;
					margin-left:6px;
				}
				
			.board-contents-comments {
				width:100%;
				height:auto;
				position:relative;
				float:left;
				background-color:#f0eded;
			}
			
				.board-contents-comments-adds {
					width:100%;
					height:auto;
					position:relative;
					float:left;
					background-color:#f2f0f0;
					padding:7px 0 7px;
					border-bottom:1px solid #E4D3D6;
					border-top:1px solid #fff;
				}
				
					.board-contents-comments-adds-author {
						width:28px;
						height:28px;
						position:relative;
						float:left;
						padding:0 20px 0 20px;
					}
					
						.board-contents-comments-adds-author img {
							border-radius:5px;
						}
					
					.board-contents-comments-adds-contents {
						width:410px;
						height:28px;;
						position:relative;
						float:left;
						word-break:break-all;
						font-size:8pt;
						border:none;
					}
					
						.board-contents-comments-adds-contents p {
							line-height:15px;
							margin:-3px 0 0 0;
						}
					
											
						.board-contents-comments-adds-contents-name {
							color:#ab7e7e;
							padding:2px 0 2px 0;
						}
					
					.board-contents-comments-adds-date {
						width:84px;
						height:10px;
						padding:6px 20px 0 0;
						position:relative;
						float:right;
						font-family:Tahoma, Geneva, sans-serif;
						font-size:8pt;
						color:#ab7e7e;
						text-align:right;
					}

				.board-contents-comments-write {
					width:100%;
					height:auto;
					position:relative;
					float:left;
					background-color:#f2f0f0;
					padding:7px 0 7px;
					border-bottom:1px solid #d8c6c9;
					border-top:1px solid #fff;
				}
				
					.board-contents-comments-write-author {
						width:28px;
						height:28px;
						position:relative;
						float:left;
						padding:3px 20px 0 20px;
					}
					
						.board-contents-comments-write-author img {
							border-radius:5px;
						}
					
					.board-contents-comments-write-contents {
						width:400px;
						height:auto;
						position:relative;
						float:left;
					}
					
						.comment-write-textarea {
							width:100%;
							height:30px;
							padding:5px 0 0 5px;
							overflow:hidden;
							display:block;
							vertical-align:top;
							font-size:9pt;
							color:#B9B9B9;
							font-family:"굴림","Gulim";
							border:1px solid #FFF;
							line-height:15px;
							outline:none;
							position:relative;
							float:left;
							border-radius:5px;
							resize:none;
						}
						
	.boardoutline-bottomdiv {
		width:880px;
		height:40px;
		position:absolute;
		bottom:-22px;
		left:-1px;
		z-index:5;
	}
						
.copyright {
	position:relative;
	margin:auto;
	padding:20px 0;
	width:842px;
	height:auto;
	bottom:0;
	left:0;
	text-align:center;
	color:#555;
	font-family:"굴림";
	float:left;
}

.copyright p {
	line-height:20px;;
	font-size:8pt;
}