body, html { background-color: none !important; background-image: url(../../images/note/directory_bg.png) !important }

#body_gradient { position: absolute; top: 0; left: 0; width: 100%; height: 50px; background-image: url(../../images/wassup/body_gradient2.png); z-index: 0 }

#wrapbox { 
	width: 920px; min-height: 100%;
	position:absolute; left: 50%; margin-left: -460px; background-color: none !important; z-index: 1;
}

#header { width: 920px; height: 0px; position: absolute; top: 0; z-index:30 !important; left: 50%; margin-left: -459px }
#header > .Tap { margin:0 0 0 921px !important }

#container .board > .Lfield > .preview > .list > .cards > .frame { background-image: url(../../images/board/preparty_frame_gray.png) !important }
#container .board { margin-top: 0px !important; }
#header div.nav	  { box-shadow: 0 1px 2px #a1a1a1 }

.SDD-wassup	 	{ background-image: url(../../images/party/Header/header_menu_wassup.png) }
.SDD-note			{ background-image: url(../../images/party/Header/header_menu_note.png) }
.SDD-party 		{ background-image: url(../../images/party/Header/header_menu_party.png) }

/* 중복 CLASS */
.nanumbold { font-family: "NanumGothicBoldWeb" }

/* wassup 게시판 레이아웃 조정 */
#container .board > .Lfield > .preview > .list > .cards > .frame { background-image: none !important }
#container .board > .Lfield > .bg { display: none }
#container .board { padding: 23px 0 100px 0 !important; border-top: 1px solid #fff }

/* Tap 변경 */
#header > .Tap { border-radius: 5px !important }
#header > .Tap > .topline { width: 25px; height: 68px; background-image: url(../../images/party/Tap/bgtopline.png); position: absolute; top: -68px; left: 0 }

/* 0420 탭 두번째탭, 마이노트가기, 마이파티가기 부분 */
#header > .Tap2 { z-index: 10; width: 29px; height: 29px; position: fixed; top: 200px; margin: 0 0 0 924px !important; padding: 0 0 0 3px }
#header > .Tap2 > .mynote { position: relative; margin-bottom: 7px; cursor: pointer }
#header > .Tap2 > .mynote:hover { opacity: .7 }
#header > .Tap2 > .myparty { position: relative; cursor: pointer }
#header > .Tap2 > .myparty:hover { opacity: .7 }

#container { width: 920px; height: auto; float: left; position: relative; padding: 0 }

#container div { position: relative; float: left }

#container > .account { width: 920px; height: auto; padding: 66px 0 0 0 }
#container > .account > .title { width: 828px; height: 52px; background-image: url(../../images/account/titlebg.png); padding: 20px 46px }
#container > .account > .title > .img { width: 74px; height: 20px; background-image: url(../../images/account/title.png); margin-top: 15px; margin-left: 20px }
#container > .account > .title > .button { margin-top: 9px; margin-right: 20px; float: right !important }

#container > .account > .content { width: 828px; height: auto; padding: 0 46px }
#container > .account > .content > .list { width: 788px; height: auto; padding: 20px 20px; border-bottom: 1px solid #d2d2d2; border-top: 1px solid #fff }
#container > .account > .content > .list > .subtitle { width: 150px; height: 18px; color: #777; font-size: 17px; padding: 9px 0 }
#container > .account > .content > .list > .text { width: 400px; height: 35px }
#container > .account > .content > .list > .text > .changepw { width: 300px; height: 14px; font-size: 14px; padding: 9px 0 12px 0; background-image: url(../../images/base/buttongray3bg.png); border: 1px solid #b1b1b1; border-radius: 5px; box-shadow: 0 1px 1px #fff; text-shadow: 0 1px 1px #fff; text-align: center; cursor: pointer }
#container > .account > .content > .list > .text input { width: 400px; height: 18px; font-size: 18px; padding: 9px 15px; color: #333; border-radius: 5px; border: 1px solid #b1b1b1; box-shadow: 0 1px 1px #fff; outline: none }
#container > .account > .content > .list > .name { width: 500px; height: auto }
#container > .account > .content > .list > .name > .first{ position: relative; margin-bottom: 20px }
#container > .account > .content > .list > .name > div > .title { padding: 9px 0; width: 80px }
#container > .account > .content > .list > .name input { width: 300px; height: 18px; font-size: 18px; padding: 9px 15px; color: #333; border-radius: 5px; border: 1px solid #b1b1b1; box-shadow: 0 1px 1px #fff; outline: none; margin-left: 20px}
#container > .account > .content > .list > .select { width: 400px; height: 35px; color: #555 }
#container > .account > .content > .list > .select > ul { position: relative; float: left; margin-right: 20px; padding: 9px 0 }
#container > .account > .content > .list > .select > ul > label > input { margin-right: 10px }
#container > .account > .content > .list > .birth { width: 400px; height: 35px }
#container > .account > .content > .list > .birth > ul { float: left; position: relative; margin-right: 20px }
#container > .account > .content > .list > .birth > ul > .year { width: 44px; height: 18px; font-size: 18px; padding: 9px 15px; color: #333; border-radius: 5px; border: 1px solid #b1b1b1; box-shadow: 0 1px 1px #fff; outline: none; margin-right: 10px }
#container > .account > .content > .list > .birth > ul > .month { width: 22px; height: 18px; font-size: 18px; padding: 9px 15px; color: #333; border-radius: 5px; border: 1px solid #b1b1b1; box-shadow: 0 1px 1px #fff; outline: none; margin-right: 10px }
#container > .account > .content > .list > .birth > ul > .day { width: 22px; height: 18px; font-size: 18px; padding: 9px 15px; color: #333; border-radius: 5px; border: 1px solid #b1b1b1; box-shadow: 0 1px 1px #fff; outline: none; margin-right: 10px }
#container > .account > .content > .list > .text > .logout { width: 300px; height: 14px; font-size: 14px; padding: 9px 0 12px 0; background-image: url(../../images/base/buttongray3bg.png); border: 1px solid #b1b1b1; border-radius: 5px; box-shadow: 0 1px 1px #fff; text-shadow: 0 1px 1px #fff; text-align: center; cursor: pointer }

#container > .chgpw { display: none; width: 920px; height: auto; padding: 66px 0 0 0; opacity: 0 }
#container > .chgpw > .title { width: 828px; height: 52px; background-image: url(../../images/account/titlebg.png); padding: 20px 46px }
#container > .chgpw > .title > .img { width: 74px; height: 20px; background-image: url(../../images/account/title.png); margin-top: 15px; margin-left: 20px }
#container > .chgpw > .title > .button { margin-top: 9px; margin-right: 20px; float: right !important }

#container > .chgpw > .content { width: 828px; height: auto; padding: 0 46px }
#container > .chgpw > .content > .list { width: 788px; height: auto; padding: 30px 20px; border-bottom: 1px solid #d2d2d2; border-top: 1px solid #fff }
#container > .chgpw > .content > .list > .row { float: none !important; width: auto; height: 35px }
#container > .chgpw > .content > .list > .first, .second { margin-bottom: 20px }
#container > .chgpw > .content > .list > .row > .subtitle { width: 185px; height: 18px; color: #777; font-size: 17px; padding: 9px 0 }
#container > .chgpw > .content > .list > .row > .password { width: 500px; height: auto }
#container > .chgpw > .content > .list > .row > .password > input { width: 400px; height: 18px; font-size: 18px; padding: 9px 15px; color: #333; border-radius: 5px; border: 1px solid #b1b1b1; box-shadow: 0 1px 1px #fff; outline: none }


#copyright { width: 920px; height: auto; padding: 20px 0 20px 0; position: relative; float: left }
#copyright > .contents { width: 828px; height: auto; position: relative; float: left; padding: 0 46px }
#copyright > .contents > .left { width: auto; height: auto; position: relative; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #888; margin-top: -2px }
#copyright > .contents > .right { width: auto; height: auto; position: relative; float: right !important; font-family: "돋움","Dotum"; font-size: 8pt; letter-spacing: -1px; color: #888; }
#copyright > .contents > .right > ul { position: relative; float: left; margin-left: 10px; cursor: pointer }
#copyright > .contents > .right > ul:hover { color: #dc5457 }